{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'profilis' %}

{% block body %}
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ username }}
                {% if role == 'ROLE_ADMIN' %}
                    <span class="label label-danger">Administratorius</span>
                {% elseif role == 'ROLE_MODERATOR' %}
                    <span class="label label-success">Moderatorius</span>
                {% elseif role == 'ROLE_USER' %}
                    <span class="label label-info">Vartotojas</span>
                {% else %}
                    <span class="label label-default">Nenurodyta</span>
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="text-center">
                    {% if avatar is not empty %}
                        <img class="img-rounded" src="{{ asset('avatars/user-' ~ username ~ '.jpg') }}">
                    {% else %}
                        <img class="img-rounded img-auto" src="{{ asset('avatars/default.jpg') }}">
                    {% endif %}
                    <hr>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Slapyvardis</th>
                        <td>{{ username }}</td>
                    </tr>
                    <tr>
                        <th>Paštas</th>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <th>Rolė</th>
                        <td>
                            {% if role == 'ROLE_ADMIN' %}
                                Administratorius
                            {% elseif role == 'ROLE_MODERATOR' %}
                                Moderatorius
                            {% elseif role == 'ROLE_USER' %}
                                Vartotojas
                            {% else %}
                                Nenurodyta
                            {% endif %}
                        </td>
                    </tr>
                    </thead>
                </table>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-block btn-success"
                                data-toggle="modal"
                                data-target="#edit-profile">Redaguoti paskyrą
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="col-lg-8 col-md-8">
            {% if questionnaires|length == 0 %}
                <h2>Šiuo metu jūs nesate sukūrę nei vieno klausimyno, sukurkite naują
                    <a href="javascript:;" data-toggle="modal" data-target="#create-questionnaire">čia!</a>
                </h2>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Jūsų klausimynai
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover" id="questionnaires-table">
                            <thead>
                            <tr>
                                <th>Pavadinimas</th>
                                <th>Galioja iki</th>
                                <th>Matomumas</th>
                                <th>Veiksmai</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for questionnaire in questionnaires %}
                                <tr data-id="{{ questionnaire.id }}">
                                    <td>{{ questionnaire.name }}</td>
                                    <td>{{ questionnaire.expires|date }}</td>
                                    <td>
                                        {% if questionnaire.visible %}
                                            <a href="javascript:;" data-action="hide" class="btn btn-xs btn-warning questionnaire-visibility">Slėpti</a>
                                        {% else %}
                                            <a href="javascript:;" data-action="show" class="btn btn-xs btn-primary questionnaire-visibility">Publikuoti</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('questionnaires_stats', {'id': questionnaire.id }) }}" class="btn btn-xs btn-primary questionnaire-stats">Statistikos</a>
                                        <a href="{{ path('questionnaires_view', {'id': questionnaire.id }) }}" class="btn btn-xs btn-primary questionnaire-view">Pildyti</a>
                                        <a href="{{ path('questionnaires_edit_show', {'id': questionnaire.id }) }}" class="btn btn-xs btn-success questionnaire-edit">Redaguoti</a>
                                        <a href="javascript:;" class="btn btn-xs btn-danger questionnaire-delete">Trinti</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <h3>Sistemos valdytojai klausimynų nekuria</h3>
        {% if is_granted('ROLE_ADMIN') %}
            Gal jūs norėjote valdyti <a href="{{ path('users') }}">sistemos vartotojus?</a>
        {% endif %}
    {% endif %}

    <div id="edit-profile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit profile</h4>
                </div>

                {% form_theme editForm 'bootstrap_3_layout.html.twig' %}

                {{ form_start(editForm) }}
                <div class="modal-body">
                    {{ form_row(editForm.email) }}
                    {{ form_row(editForm.password.first) }}
                    {{ form_row(editForm.password.second) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Pateikti</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Atšaukti</button>
                </div>
                {{ form_end(editForm) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        $(function () {
            var errors = {{ editFormErrors }};
            if (errors > 0) {
                $('#edit-profile').modal();
            }
        });
    </script>
    <script type="application/javascript" src="{{ asset('bundles/site/js/profile/profile.js') }}"></script>
{% endblock %}