<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Questionnaires</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('information') }}">Information</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form role="search" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="Search questionnaires..." class="form-control">
                    </div>
                    <button class="btn btn-default" type="submit">Search</button>
                </form>
                {% if app.user %}
                    <li class="dropdown">
                        <a aria-expanded="false"
                           aria-haspopup="true"
                           role="button"
                           data-toggle="dropdown"
                           class="dropdown-toggle"
                           href="#">
                            {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_profile') }}">Profile</a></li>
                            <li><a href="{{ path('user_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="btn btn-default navbar-btn" href="{{ path('user_login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>