<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Questionnaires</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('information') }}">Information</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <a class="btn btn-primary navbar-btn navbar-left" href="javascript:;" data-toggle="modal" data-target="#create-questionnaire">Create questionnaire</a>
                    <li class="dropdown">
                        <a aria-expanded="false"
                           aria-haspopup="true"
                           role="button"
                           data-toggle="dropdown"
                           class="dropdown-toggle"
                           href="#">
                            {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_profile') }}">Profile</a></li>
                            <li><a href="{{ path('user_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="btn btn-default navbar-btn" href="{{ path('user_login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="create-questionnaire" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new questionnaire</h4>
            </div>
            <form method="POST" action="{{ path('questionnaires_create') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="control-label">Name</label>
                        <input type="text" placeholder="Questionnaire name" id="name" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="visibility">Visibility</label>
                        <select id="visibility" name="visibility" class="form-control">
                            <option value="USERS">Users only</option>
                            <option value="EVERYONE">Everyone</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>