<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Klausimynai</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home') }}">Home</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('users') }}">Vartotojai</a></li>
                {% endif %}
                <li><a href="{{ path('about') }}">Apie</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <a class="btn btn-primary navbar-btn navbar-left" href="javascript:;" data-toggle="modal" data-target="#create-questionnaire">Sukurti klausimyną</a>
                    <li class="dropdown">
                        <a aria-expanded="false"
                           aria-haspopup="true"
                           role="button"
                           data-toggle="dropdown"
                           class="dropdown-toggle"
                           href="#">
                            {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_profile') }}">Valdymas</a></li>
                            <li><a href="{{ path('user_logout') }}">Atsijungti</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="btn btn-default navbar-btn" href="{{ path('user_login') }}">Prisijungti</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="create-questionnaire" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sukurti naują klausimyną</h4>
            </div>
            <form method="POST" action="{{ path('questionnaires_create') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="control-label">Pavadinimas</label>
                        <input type="text" placeholder="Klausimyno pavadinimas" id="name" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="expires">Klausimyno galiojimo laikas</label>
                        <select id="expires" name="expires" class="form-control">
                            <option value="1" selected>Diena</option>
                            <option value="2">Dvi dienos</option>
                            <option value="3">Trys dienos</option>
                            <option value="4">Keturios dienos</option>
                            <option value="5">Penkios dienos</option>
                            <option value="6">Šešios dienos</option>
                            <option value="7">Savaitė</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Sukurti</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Atšaukti</button>
                </div>
            </form>
        </div>
    </div>
</div>