{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'sukurti' %}

{% block body %}
    <div class="col-lg-12" id="questionnaire" data-id="{{ questionnaire.id }}">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="questionnaire-name">Redaguojama "{{ questionnaire.name }}"</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Klausimyno detalės</h3>
                </div>
                <div class="col-md-12">
                    <div class="well">
                        <div class="details">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Klausimyno pavadinimas</label>
                                    <input type="text" value="{{ questionnaire.name }}" placeholder="Įveskite klausimyno pavadinimą" class="form-control name">
                                </div>
                                <div class="col-md-2">
                                    <label>Galioja iki</label>
                                    <input disabled type="text" value="{{ questionnaire.expires|date('Y-m-d') }}" placeholder="Galioja iki" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label" for="expires">Galiojimo laikas</label>
                                        <select id="expires" name="expires" class="form-control expires">
                                            <option value="1" selected>Diena</option>
                                            <option value="2">Dvi dienos</option>
                                            <option value="3">Trys dienos</option>
                                            <option value="4">Keturios dienos</option>
                                            <option value="5">Penkios dienos</option>
                                            <option value="6">Šešios dienos</option>
                                            <option value="7">Savaitė</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Veiksmai</label>
                                    <div>
                                        <button id="save-questionnaire" class="btn btn-success">Išsaugoti pakeitimus</button>
                                        {% if questionnaire.visible %}
                                            <button data-action="hide" class="btn btn-warning questionnaire-visibility">Slėpti klausimyną</button>
                                        {% else %}
                                            <button data-action="show" class="btn btn-primary questionnaire-visibility">Publikuoti klausimyną</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <label>Klausimyno aprašymas</label>
                                    <textarea rows="5" class="form-control description" placeholder="Įveskite aprašymą">{{ questionnaire.description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="questions">
                        {% include 'questionnaires/questions.html.twig' with {'questionnaire': questionnaire} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{{ asset('bundles/site/js/questionnaires/creation.js') }}"></script>
{% endblock %}