{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'statistikos' %}

{% block header %}
    <link href="{{ asset('bundles/datatables/datatables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="col-lg-12 questionnaire" data-id="{{ questionnaire.id }}">
        {% if questionnaire.participants|length > 0 %}
            <h2>"{{ questionnaire.name }}" statistikos</h2>
            <h4>
                Sveikiname, jūsų klausimyną astakė {{ questionnaire.participants|length }}
                {{ questionnaire.participants|length == 1 ? 'žmogus' : 'žmonės' }}!
                Štai šio klausimyno statistikos
            </h4>
            <div class="row">
                {% for question in questionnaire.questions %}
                    {% set last = loop.index == questionnaire.questions|length and questionnaire.questions|length is not divisible by(2) %}
                    <div class="{{ last ? 'col-md-12' : 'col-md-6' }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>
                                    {{ loop.index }}. {{ question.content }}
                                </h4>
                            </div>
                            {% if question.type == 'OPEN' %}
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered open-answer">
                                        <thead>
                                        <tr>
                                            <th>IP</th>
                                            <th>Atsakymas</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for participant in questionnaire.participants %}
                                            {% for answer in participant.answers %}
                                                {% if answer.question.id == question.id %}
                                                    <tr>
                                                        <td>{{ participant.ip }}</td>
                                                        <td>{{ answer.textAnswer }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="panel-body questions" data-type="{{ question.type }}">
                                    <h1>Nėra duomenų</h1>
                                </div>
                            {% endif %}
                            <div class="panel-footer">
                                {% if question.type != 'OPEN' %}
                                    <button class="btn btn-primary show-opinions">Peržiūrėti nuomones</button>
                                    <div class="modal fade opinions-modal" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Išreikštos nuomonės</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {% set count = 0 %}
                                                    <ul>
                                                        {% for participant in questionnaire.participants %}
                                                            {% for answer in participant.answers %}
                                                                {% if answer.question.id == question.id and answer.opinion|length > 0 %}
                                                                    <li>{{ answer.opinion }}</li>
                                                                    {% set count = count + 1 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </ul>
                                                    {% if count == 0 %}
                                                        <h1>Nėra duomenų</h1>
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Uždaryti</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                Šis klausimynas buvo užpildytas iš šių IP adresų
                            </h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered open-answer">
                                <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Pildymo data</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for participant in questionnaire.participants %}
                                    <tr>
                                        <td>{{ participant.ip }}</td>
                                        <td>{{ participant.participationDate|date("Y-d-m h:m:s") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Looks like your questionnaire has not yet been viewed by anyone :(</h1>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{{ asset('bundles/datatables/datatables.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/highcharts/highcharts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/site/js/questionnaires/stats.js') }}"></script>
{% endblock %}