{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'view' %}

{% block body %}
    <div class="col-lg-12 questionnaire" data-id="{{ questionnaire.id }}">
        <div class="row questions">
            {% for question in questionnaire.questions %}
                <div class="col-lg-12 col-md-12 question" data-id="{{ question.id }}">
                    {% if question.content|length == 0 %}
                        <h3>Question has no description</h3>
                    {% else %}
                        <h3>{{ loop.index }}. {{ question.content }}</h3>
                    {% endif %}
                    <div class="answers">
                        {% for answer in question.answers %}
                            <span class="{{ question.type == 'MULTIPLE' ? 'checkbox' : 'radio' }}">
                                {% set checked = loop.index0 == 0 ? 'checked' : '' %}
                                <label>
                                    <input data-id="{{ answer.id }}"
                                           type="{{ question.type == 'MULTIPLE' ? 'checkbox' : 'radio' }}"
                                           value=""
                                           name="{{ 'radio_' + question.id }}"
                                            {{ checked }}
                                           class="answer">

                                    {% if answer.content|length == 0 %}
                                        N/A
                                    {% else %}
                                        {{ answer.content }}
                                    {% endif %}
                                </label>
                            </span>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <button id="submit" class="btn btn-success">Submit your entry</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{{ asset('bundles/site/js/questionnaires/view.js') }}"></script>
{% endblock %}