{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'pildyti' %}

{% block body %}
    <div class="col-lg-12 questionnaire" data-id="{{ questionnaire.id }}">
        <h3>Klausimynas "{{ questionnaire.name }}"</h3>
        <p>{{ questionnaire.description }}</p>
        <hr>
        <form id="questions-form">
            {% if url is defined %}
                <input type="hidden" name="url" value="{{ url.id }}"/>
            {% endif %}
            <div class="row questions">
                {% for question in questionnaire.questions %}
                    <div class="col-lg-12 col-md-12 question" data-id="{{ question.id }}">
                        {% if question.content|length == 0 %}
                            <h3>Klausimas neturi aprašymo</h3>
                        {% else %}
                            <h3>{{ loop.index }}. {{ question.content }}</h3>
                        {% endif %}
                        <div class="answers">
                            {% if question.type == 'OPEN' %}
                                <textarea required
                                          rows="5"
                                          class="form-control answer"
                                          data-type="OPEN"
                                          data-question-id="{{ question.id }}"
                                          placeholder="Įveskite savo atsakymą"></textarea>
                            {% else %}
                                {% for answer in question.answers %}
                                    <span class="{{ question.type == 'MULTIPLE' ? 'checkbox' : 'radio' }}">
                                        <label>
                                            <input data-id="{{ answer.id }}"
                                                   type="{{ question.type == 'MULTIPLE' ? 'checkbox' : 'radio' }}"
                                                   value=""
                                                    {{ question.type == 'SINGLE' ? 'required' : '' }}
                                                   name="{{ 'radio_' + question.id }}"
                                                   class="answer">

                                            {% if answer.content|length == 0 %}
                                                N/A
                                            {% else %}
                                                {{ answer.content }}
                                            {% endif %}
                                        </label>
                                    </span>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="form-control input-sm other" placeholder="Papildomas"/>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    <button id="submit" type="submit" class="btn btn-success">Pateikti</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{{ asset('bundles/site/js/questionnaires/view.js') }}"></script>
{% endblock %}