{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'home' %}

{% block body %}
    <div class="col-lg-12">
        {% if questionnaires|length > 0 %}
            <div class="page-header">
                <h1 id="containers">Recently updated questionnaires</h1>
            </div>
            <div class="questionnaires">
                {% for questionnaire in questionnaires %}
                    <div class="row">
                        {% set user = questionnaire.user %}
                        <div class="col-md-12">
                            <h3>
                                <a href="{{ path('questionnaires_view', {'id': questionnaire.id }) }}"
                                   title="Fill out this questionnaire!">{{ questionnaire.name }}</a>
                            </h3>
                            <blockquote>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <div class="pull-right">
                                        <button class="btn btn-danger questionnaire-delete"
                                                data-id="{{ questionnaire.id }}">Delete
                                        </button>
                                    </div>
                                {% endif %}
                                {% if questionnaire.description|length > 0 %}
                                    <p>{{ questionnaire.description }}</p>
                                {% else %}
                                    <p>No description for this questionnaire :(</p>
                                {% endif %}
                                <footer>
                                    by
                                    <cite title="Cite">
                                        <span style="color: #ff7701">{{ user.username }}</span>, valid
                                        until {{ questionnaire.expires|date }}
                                    </cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="page-header">
                <h1 id="containers">Looks like there are no new viewable questionnaires at this moment</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{{ asset('bundles/site/js/home/home.js') }}"></script>
{% endblock %}